header h1{
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
}

#result{

    margin:20px auto;
    width: 100px;


}

p{
    font-family: Arial;
    font-size: 15px;
    margin:20px auto;
}
